table {
  font-family: monospace;
}
.accordion-toggle.stamp,
table.stamp {
  background-color: #F5A9D4;
}
.accordion-toggle.comments,
table.comments {
  background-color: #D4F5A9;
}
.accordion-toggle.enddata,
table.enddata {
  background-color: #A9AEF5;
}

table.data thead th {
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
}
table.data tr.tablesorter-stickyHeader {
  background-color: #ffffff;
}
table.data tr.selected td {
  background-color: #ffffcc;
}

table.data td.flag.flag1 {
  background-color: #ffcccc;
}
table.data td.flag.flag2 {
  background-color: #aaffaa;
}
table.data td.flag.flag3 {
  background-color: #ffffaa;
}
table.data td.flag.flag4 {
  background-color: #dddddd;
}
table.data td.flag.flag5 {
  background-color: #dddddd;
}
table.data td.flag.flag6 {
  background-color: #ddffaa;
}
table.data td.flag.flag7 {
  background-color: #dddddd;
}
table.data td.flag.flag8 {
  background-color: #dddddd;
}
table.data td.flag.flag9 {
  background-color: #ffaaaa;
}
