table {
  font-family: monospace;
}
.accordion-toggle.stamp,
table.stamp {
  background-color: #F5A9D4;
}
.accordion-toggle.comments,
table.comments {
  background-color: #D4F5A9;
}
table.data {
}
.accordion-toggle.enddata,
table.enddata {
  background-color: #A9AEF5;
}

.flag {
}
table.table-striped td.flag.flag1 {
  background-color: #ffcccc;
}
table.table-striped td.flag.flag2 {
  background-color: #aaffaa;
}
table.table-striped td.flag.flag3 {
  background-color: #ffffaa;
}
table.table-striped td.flag.flag4 {
  background-color: #dddddd;
}
table.table-striped td.flag.flag5 {
  background-color: #dddddd;
}
table.table-striped td.flag.flag6 {
  background-color: #ddffaa;
}
table.table-striped td.flag.flag7 {
  background-color: #dddddd;
}
table.table-striped td.flag.flag8 {
  background-color: #dddddd;
}
table.table-striped td.flag.flag9 {
  background-color: #ffaaaa;
}
